body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.header-bg {
  background-image: url(IITH.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.Welcome {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
  z-index: 1;
}

.Welcome.show {
  opacity: 1;
  transform: translateY(0);
}

.Welcome .welcome-title {
  font-size: 60px;
  color: cyan;
}

.Welcome .welcome-sub {
  font-size: 30px;
  color: cyan;
}

.Welcome .welcome-text {
  font-size: 30px;
  color: yellowgreen;
}

.Welcome .hidden-paragraph {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  /* Add a transition for a smooth appearance */
}

.navbar.scrolled {
  top: 0;
  background-color: #333;
  /* Change to your desired background color */
}

.navbar {
  background-color: white;
  font-family: sans-serif;
  font-size: 22px;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: -80px;
  z-index: 2;
  transition: top 0.5s;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar img {
  margin-left: 10px;
  height: 100px;
  width: 101px;
}

.navbar li {
  list-style: none;
  margin-right: 10px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  padding: 25px 25px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  font-family: sans-serif;
  transition: 0.2s;
  font-size: 22px;
}

.navbar li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgb(234, 96, 17);
  transition: 0.2s;
}

.navbar li a:hover::after {
  width: 100%;
}

hr {
  border: 2px solid rgb(234, 96, 17);
}

body {
  text-align: center;
  font-family: sans-serif;
}

.Welcome {
  text-align: center;
  margin-top: 50px;
  padding: 90px;
}

.Welcome h3 {
  font-size: 38px;
  color: rgb(238, 64, 11);
  font-family: sans-serif;
}

.Welcome p {
  font-size: 20px;
  color: black;
  font-family: sans-serif;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button,
.button2 {
  text-align: center;
  height: 30px;
  width: 180px;
  color: white;
  border: none;
  border-radius: 20px;
  display: inline-block;
  margin: 10px 10px;
  padding: 10px;
  ;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
  background: linear-gradient(45deg, #007BFF, #28A745);
  background-size: 200% 200%;
  animation: flowBackground 4s linear infinite;
}

@keyframes flowBackground {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.button2 {
  background: linear-gradient(45deg, #FF5733, #FFC300);
  background-size: 200% 200%;
  animation: flowBackground 4s linear infinite;
}

.button:hover,
.button2:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.button a,
.button2 a {
  text-decoration: none;
}

.nameofdept {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.instiname {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.side-column {
  display: flex;
  font-size: 25px;
  flex-direction: column;
  color: red;
  flex-wrap: wrap;
  margin: auto 40px;
  padding: 100px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.side-column2 {
  columns: 2;
  color: red;
  padding: 100px;
  margin: 40px auto;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  border-radius: 30px;

}

.side-column .items {
  color: blue;
  align-self: center;
  flex-shrink: 1;
  flex-grow: 1;
  list-style: none;
}